@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: url("../font/Roboto/Roboto-Light.woff2") format("woff2"), url("../font/Roboto/Roboto-Light.woff") format("woff"), url("../font/Roboto/Roboto-Light.eot") format("eot"), url("../font/Roboto/Roboto-Light.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url("../font/Roboto/Roboto-Regular.woff2") format("woff2"), url("../font/Roboto/Roboto-Regular.woff") format("woff"), url("../font/Roboto/Roboto-Regular.eot") format("eot"), url("../font/Roboto/Roboto-Regular.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url("../font/Roboto/Roboto-Medium.woff2") format("woff2"), url("../font/Roboto/Roboto-Medium.woff") format("woff"), url("../font/Roboto/Roboto-Medium.eot") format("eot"), url("../font/Roboto/Roboto-Medium.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url("../font/Roboto/Roboto-Bold.woff2") format("woff2"), url("../font/Roboto/Roboto-Bold.woff") format("woff"), url("../font/Roboto/Roboto-Bold.eot") format("eot"), url("../font/Roboto/Roboto-Bold.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: Ubuntu;
  font-weight: 400;
  font-style: normal;
  src: url("../font/Ubuntu/Ubuntu-Regular.woff2") format("woff2"), url("../font/Ubuntu/Ubuntu-Regular.woff") format("woff"), url("../font/Ubuntu/Ubuntu-Regular.eot") format("eot"), url("../font/Ubuntu/Ubuntu-Regular.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: Ubuntu;
  font-weight: 500;
  font-style: normal;
  src: url("../font/Ubuntu/Ubuntu-Medium.woff2") format("woff2"), url("../font/Ubuntu/Ubuntu-Medium.woff") format("woff"), url("../font/Ubuntu/Ubuntu-Medium.eot") format("eot"), url("../font/Ubuntu/Ubuntu-Medium.ttf") format("ttf");
  font-display: swap;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Ubuntu";
  font-weight: 400;
  height: 100vh;
  overflow: hidden;
}

.remove-padding {
  padding: 0;
}

.header {
  height: 70px;
  background: #4AAF42;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__button {
  font-weight: 500;
  font-size: 14px;
  padding: 10px 25px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(103, 80, 164, 0.05)), to(rgba(103, 80, 164, 0.05))), #FFFFFF;
  background: -o-linear-gradient(bottom, rgba(103, 80, 164, 0.05), rgba(103, 80, 164, 0.05)), #FFFFFF;
  background: linear-gradient(0deg, rgba(103, 80, 164, 0.05), rgba(103, 80, 164, 0.05)), #FFFFFF;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  border: none;
  color: #1C1B1F;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.header__button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(103, 80, 164, 0.2)), to(rgba(103, 80, 164, 0.08))), #FFFBFE;
  background: -o-linear-gradient(bottom, rgba(103, 80, 164, 0.2), rgba(103, 80, 164, 0.08)), #FFFBFE;
  background: linear-gradient(0deg, rgba(103, 80, 164, 0.2), rgba(103, 80, 164, 0.08)), #FFFBFE;
}
.header__button:active {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(103, 80, 164, 0.05)), to(rgba(103, 80, 164, 0.05))), -webkit-gradient(linear, left bottom, left top, from(#FFFBFE), to(#FFFBFE));
  background: -o-linear-gradient(bottom, rgba(103, 80, 164, 0.05), rgba(103, 80, 164, 0.05)), -o-linear-gradient(bottom, #FFFBFE, #FFFBFE);
  background: linear-gradient(0deg, rgba(103, 80, 164, 0.05), rgba(103, 80, 164, 0.05)), linear-gradient(0deg, #FFFBFE, #FFFBFE);
}

@media screen and (max-width: 320px) {
  .header {
    height: 50px;
  }
  .header__container > a > svg {
    height: 35px;
  }
  .header__container > a > svg > path:last-of-type {
    display: none;
  }
  .header__button {
    padding: 8px 25px;
    font-size: 12px;
  }
}
.main {
  height: 100%;
  background: url("../img/bg.jpg") no-repeat center/cover;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@supports (-webkit-appearance: none) {
  .main {
    background: url("../img/bg.webp") no-repeat center/cover;
  }
}
.options {
  margin: 45px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.options__input {
  font-weight: 400;
  width: 100%;
  height: 40px;
  background: #fff;
  border: 1px solid #4AAF42;
  border-radius: 4px;
  padding: 0 15px;
  outline: none;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1C1B1F;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.options__input-search {
  padding-right: 36px;
}
.options__input-search:hover {
  border: 1px solid #218D18;
  -webkit-box-shadow: 0 1px 5px rgba(22, 65, 19, 0.4);
          box-shadow: 0 1px 5px rgba(22, 65, 19, 0.4);
}
.options__input-container {
  position: relative;
  margin-right: 20px;
  max-width: 184px;
}
.options__input-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}
.options__dropdown-menu {
  background: #FBFBFB;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 2px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 2px 6px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  width: 100%;
}
.options__dropdown-menu > li {
  height: 35px;
  width: 100%;
}
.options__dropdown-item {
  height: inherit;
  width: inherit;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.options__dropdown-item:hover {
  background: rgba(74, 175, 66, 0.3);
  padding: 0.5rem 1.6rem;
}
.options__button {
  font-weight: 500;
  max-width: 92px;
  height: 40px;
  color: #1C1B1F;
  background: #fff;
  border: 1px solid #4AAF42;
  border-radius: 100px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.options__button:hover {
  -webkit-box-shadow: 0 2px 1px rgba(22, 65, 19, 0.25);
          box-shadow: 0 2px 1px rgba(22, 65, 19, 0.25);
  border: 1px solid #218D18;
  background: #F9F6FA;
}
.options__button:active {
  background: rgba(103, 80, 164, 0.1215686275);
}
.options__input-dropbox:hover {
  border: 1px solid #218D18;
  -webkit-box-shadow: 0 1px 3px rgba(22, 65, 19, 0.4);
          box-shadow: 0 1px 3px rgba(22, 65, 19, 0.4);
}
.options__input-dropbox:focus {
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(22, 65, 19, 0.4);
          box-shadow: 0 1px 3px rgba(22, 65, 19, 0.4);
}

@media screen and (max-width: 992px) {
  .options__input-container {
    margin-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .options {
    margin: 25px 0;
    row-gap: 20px;
  }
  .options > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
  }
  .options__button {
    max-width: 184px;
    margin-right: 15px;
    font-size: 12px;
  }
  .options__input {
    font-size: 12px;
  }
  .options__dropdown-item {
    padding: 1rem 1rem;
    font-size: 14px;
  }
  .options__dropdown-item:hover {
    padding: 1rem 1rem;
  }
  .options__dropdown-menu > li {
    height: 50px;
  }
}
@media screen and (max-width: 768px) {
  .options__button {
    font-weight: 600;
  }
}
@media screen and (max-width: 320px) {
  .options {
    margin: 20px 0;
  }
}
.desk {
  min-height: 478px;
  max-height: calc(100vh - 200px);
  overflow: auto;
  position: relative;
  background: rgba(243, 237, 247, 0.94);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.desk__container {
  height: 100%;
}
.desk__items-container {
  height: 100%;
  padding: 40px 0;
  margin-top: 0;
  position: relative;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.desk__items-container:empty:after {
  font-size: 24px;
  margin: auto;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  color: #1C1B1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "No items have been added";
  position: absolute;
}

@media screen and (max-width: 768px) {
  .desk {
    max-height: calc(100vh - 160px);
    margin-bottom: 200px;
  }
  .desk__items-container:empty:after {
    font-size: 20px;
  }
}
.item {
  background: rgba(250, 250, 250, 0.8);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 20px 35px;
  height: 216px;
  background: #FAFAFA;
  margin: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.item__container {
  position: relative;
}
.item__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.87);
}
.item__doctor {
  margin-bottom: 10px;
}
.item__status {
  padding-bottom: 25px;
  position: relative;
}
.item__status::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(28, 27, 31, 0.1);
  -webkit-transform: translate(0, 25px);
      -ms-transform: translate(0, 25px);
          transform: translate(0, 25px);
}
.item__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 24px;
}
.item__buttons button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.0357143em;
  color: #4AAF42;
  border: none;
  stroke: none;
  background: none;
}

.content-extra {
  display: none;
}

.button-delete {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  z-index: 2;
}
.button-delete:before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  height: 2px;
  width: 20px;
  background-color: grey;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.button-delete:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  height: 2px;
  width: 20px;
  background-color: grey;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.status-done {
  background-color: #ECEBEC;
}

.status-green {
  color: green;
}

.status-red {
  color: red;
}

@media screen and (max-width: 425px) {
  .item {
    padding: 20px 20px;
  }
  .item__doctor {
    font-size: 14px;
  }
  .item__status {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .item__name {
    font-size: 16px;
  }
}
*::-webkit-scrollbar {
  /* 1 - скроллбар */
  width: 10px;
  height: 8px;
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-button {
  /* 2 - кнопка */
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  /* 3 - трек */
  height: 100%;
}

*::-webkit-scrollbar-track-piece {
  /* 4 - видимая часть трека */
}

*::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  border-radius: 5px;
  background-color: #4AAF42;
  height: 10px;
}

*::-webkit-scrollbar-corner {
  border-radius: 10px;
  height: 20px;
  background: #000;
  /* 6 - уголок */
}

*::-webkit-resizer {
  height: 20px;
}

.hidden {
  display: none;
}

.form {
  font-family: "Ubuntu";
  padding: 40px 0;
}
.form__header {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #1c1b1f;
  border: none;
  padding: 0 41px;
}
.form__green-box {
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  background: #4AAF42;
}
.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 36px 60px 0 60px;
}
.form__input, #visitModalDropdownMenuDoctors {
  font-size: 16px;
  width: 100%;
  line-height: 14px;
  background-color: #fff;
  border: 1px solid #CACACA;
  border-radius: 4px;
  padding: 16px 0 16px 20px;
  margin-bottom: 25px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-align: start;
}
.form__input:hover, #visitModalDropdownMenuDoctors:hover {
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}
.form__input:focus, #visitModalDropdownMenuDoctors:focus {
  outline: none;
  stroke: none;
  border: 1px solid #CACACA;
}
.form__dropbox-item {
  padding: 1rem;
}
.form__dropbox-item:hover {
  padding: 1rem 1.5rem;
}
.form__dropbox-item:active {
  padding: 1rem;
}
.form__checkbox-text {
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.form__checkbox {
  margin-right: 10px;
}
.form__footer {
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form__submit-bnt {
  width: 30%;
  background: #4AAF42;
  color: #fff;
  border-radius: 100px;
  margin-top: 36px;
}
.form__submit-bnt:hover {
  color: #fff;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}
.form__status-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 16px;
}
.form__status-btn--green {
  background: #4AAF42;
}
.form__status-btn--red {
  background: #ce1515;
}

.visit-modal {
  border: none;
  border-radius: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .form__input, #visitModalDropdownMenuDoctors {
    padding: 19px 0 19px 20px;
    margin-bottom: 30px;
  }
  .form__submit-bnt {
    width: 40%;
  }
  .form__dropbox-item {
    padding: 1.5rem;
  }
  .form__dropbox-item:hover {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 425px) {
  .form__input, #visitModalDropdownMenuDoctors {
    padding: 16px 0 16px 20px;
    font-size: 14px;
  }
  .form__body {
    padding: 35px 40px 0;
  }
  .form__submit-bnt {
    font-size: 16px;
    width: 50%;
  }
}
@media screen and (max-width: 320px) {
  .form__input, #visitModalDropdownMenuDoctors {
    margin-bottom: 20px;
  }
  .form__body {
    padding: 35px 25px 0;
  }
  .form__checkbox-text {
    font-size: 12px;
  }
}
div.form__input, div#visitModalDropdownMenuDoctors {
  width: 100%;
  line-height: 0;
  background-color: none;
  border: none;
  border-radius: none;
  padding: 0;
  margin-bottom: 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
div.form__input:hover, div#visitModalDropdownMenuDoctors:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
div.form__input:focus, div#visitModalDropdownMenuDoctors:focus {
  outline: none;
  stroke: none;
  border: none;
}

.card-hidden {
  display: none;
}

.search-mark {
  background-color: rgba(73, 175, 66, 0.4588235294);
  border-radius: 5px;
}

.no-visits {
  padding: 0px;
  font-size: 24px;
  color: #1C1B1F;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.dropdown-toggle::after {
  position: absolute;
  right: 15px;
}

div.visit-modal > .dropdown-toggle::after {
  position: absolute;
  right: 15px;
  top: 20px;
}

.dropdown-toggle:focus::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown-menu {
  padding: 0;
  min-width: 5rem;
}

.modal-footer {
  padding: 0;
}

@media screen and (max-width: 992px) {
  .col-10 {
    width: 91.333333%;
  }
}
@media screen and (max-width: 768px) {
  .row-cols-2 > * {
    width: 100%;
  }

  .modal-content {
    width: 94%;
  }

  .modal-dialog-centered {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}